<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="register" [formGroup] = "registerForm" (submit) = "register(registerForm.value)">
    <ion-list>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" placeholder="email@example.com" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" placeholder="minimum 6 characters" formControlName="password"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-toolbar color="primary" class="sign-up-tb">
          <ion-buttons>
            <ion-button expand="full" class="sign-up-btn" type="submit" [disabled]="!registerForm.valid">
              Sign up
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-item>
      <ion-item lines="none">
        Already have an account? <a routerLink="">Sign in</a>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
